################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VoteApp/FileContentIndex/7ece374b-c300-40ee-b2dd-f4260ff40f05.vsidx
